@font-face {
  font-family: 'ubuntu-regular';
  src:  url('../assets/fonts/Ubuntu-Regular.woff2') format('woff2'),
        url('../assets/fonts/Ubuntu-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'ubuntu-medium';
  src:  url('../assets/fonts/Ubuntu-Medium.woff2') format('woff2'),
        url('../assets/fonts/Ubuntu-Medium.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: block;
}


/* Base Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

button {
  background: none;
  border: none;
  font-family: inherit;
  font-size: 0.75rem;
}

::selection {
  color: inherit;
  background-color: rgb(118, 161, 98);
}

body {
  background-color: rgb(240, 194, 135, 1);
  font-family: 'ubuntu-regular';
  font-size: 1rem;

  height: 100vh;
  display: flex;
}


/* Sidebar */

.sidebar {
  background-color: rgb(0, 0, 0, 0.15);
  padding: 1rem;
  width: 13.875rem;
  height: 100%;
  position: absolute;
  z-index: 1;
  transition: opacity 0.5s ease;
}

/* Sidebar transition effect */
.sidebar-placeholder {
  width: 13.875rem;
  transition: width 0.5s ease;
}
/* ----- */

.logo {
  font-family: 'ubuntu-medium';
  font-size: 1.75rem;
  letter-spacing: -0.5px;
  padding-bottom: 0.75rem;
  border-bottom: 1px solid rgb(168, 137, 95);
  margin-left: -0.5rem;
  margin-bottom: 1rem;
}

.sidebar-label {
  color: rgb(72, 58, 41);
  font-size: 1rem;
  font-weight: normal;
  margin-bottom: 0.5rem;
}

.sidebar-group {
  margin-bottom: 1.25rem;
}

.sidebar-item {
  font-size: 1.25rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin-left: -0.5rem;
  position: relative;
  transition: background-color 0.5s ease;
}

.sidebar-item:hover {
  background-color: rgb(72, 58, 41, 0.15);
  cursor: pointer;
  transition: none;
}

.sidebar-item.selected {
  background-color: rgb(72, 58, 41, 0.3);
}

.sidebar-item + .sidebar-item {
  margin-top: 1px;
}


.sidebar-item > img {
  width: 1.5rem;
  height: auto;
  margin-right: 0.375rem;
  margin-bottom: -0.3125rem;
}

.sidebar-label.lists {
  position: relative;
}

.sidebar-label.lists:hover {
  cursor: default;
}

/* New-list button */
.sidebar-label.lists:hover > .new-list {
  opacity: 1;
  transition: none;
}

.new-list {
  position: absolute;
  top: -0.375rem;
  right: 0;
  padding: 0.25rem;
  margin-right: -0.25rem;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.new-list > svg {
  border: 1px solid rgb(72, 58, 41);
  border-radius: 50%;
  padding: 2px;
  width: 21px;
  height: 21px;
  transition: background-color 0.25s ease, color 0.25s ease;
}

.new-list:hover {
  cursor: pointer;
}

.new-list:hover > svg {
  background-color: rgb(72, 58, 41);
  color: rgb(204 165 115);
}
/* ----- */


/* Content Area */

main {
  min-width: 0;
  flex: 1;
  position: relative;
}

.content {
  margin: auto;
  margin-top: 5.625rem;
  max-width: 63.125rem;
  position: relative;
  right: 0;
  transition: max-width 0.5s ease/* , right 1s ease, transform 1s ease */;
  will-change: max-width;
}

.content-title {
  margin-bottom: 2rem;
}


/* Task Scroll */

.task-scroll {
  overflow-y: clip;
  width: 10.5rem;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  transition: top 0.5s ease, transform 0.5s ease;
}

/* Scroll decor */
.scroll-decor {
  background-color: rgb(225, 175, 95);
  box-shadow: 2px 2px 3px rgb(0, 0, 0, 0.25);
  border-radius: 0.25rem;
  height: 1.25rem;
  position: relative;
  z-index: 1;
}

.scroll-decor-before,
.scroll-decor-after {
  background-color: rgb(150, 100, 45);
  box-shadow: 1px 1px 2px rgb(0, 0, 0, 0.4);
  content: '';
  border-radius: 0.5rem;
  display: block;
  height: 0.875rem;
  width: 0.75rem;
  position: absolute;
  top: 0;
}

.scroll-decor-before {
  left: 0;
  transform: translate(-0.625rem, 0.1875rem);
}

.scroll-decor-after {
  right: 0;
  transform: translate(0.625rem, 0.1875rem);
}

.scroll-decor-container:hover + .scroll-content {
  translate: 0 -110%;
}
/* ----- */

.scroll-content {
  background-color: rgb(225, 175, 95);
  /* color: rgb(40, 25, 15); */
  box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.25);
  text-align: center;
  padding: 1.25rem 0 1rem 0;
  width: 10rem;
  margin: auto;
  margin-bottom: 5px;
  transform: translate(0, -3px);  /* because you could notice a teensy bit of a no-shadow area on the top-right area */
  transition: translate 1s ease;
}

.scroll-content > h3 {
  margin-bottom: 0.875rem;
}

.scroll-content > p {
  margin-bottom: 0.375rem;
}

.progress-bar {
  background-color: rgb(218, 153, 32, 0.7);
  /* color: rgb(80, 40, 0); */
  font-family: Courier, monospace;
  font-weight: 700;
  border-radius: 0.25rem;
  padding: 0.25rem;
  margin: 0 5px;
  transition: background-color 0.5s;
}

.progress-bar:hover {
  background-color: rgb(120, 135, 95, 0.7);
  cursor: default;
}


/* Todos */

.todo {
  border: 1px solid rgb(80, 50, 25, 0.5);
  border-radius: 1rem;
  box-shadow: 2px 2px 4px rgb(0, 0, 0, 0.2);
  padding: 0.75rem;
  padding-bottom: 0.5rem;
  max-width: 43.75rem;
  margin-bottom: 1rem;
  transform: translate(-0.75rem);
  display: flex;
  /* align-items: center; */
  transition: border 0.25s ease, max-width 0.5s ease;
  will-change: max-width;
}

.todo:hover {
  border: 1px solid rgb(80, 50, 25, 1);
}

.checkbox {
  appearance: none;
  background: none;
  border: 2px solid rgb(80, 50, 25, 0.75);
  border-radius: 0.5rem;
  /* filter: drop-shadow(1px 1px 2px rgb(0, 0, 0, 0.2)); */
  height: 1.75rem;
  width: 1.75rem;
  flex-shrink: 0;
  margin-top: 0.125rem;
  margin-right: 0.75rem;
}

.checkbox::before,
.checkbox::after {
  display: none;
}

.checkbox::before {
  -webkit-mask: url('../assets/images/sun.svg') no-repeat center / contain;
  mask: url('../assets/images/sun.svg') no-repeat center / contain;
  background-color: currentColor;
  color: rgb(0, 0, 0);
  /* color: rgb(95, 120, 55); */
  content: '';
  width: 1.25rem;
  height: 1.25rem;
  position: absolute;
  transform: translate(0.125rem, 0.125rem);
}

.checkbox::after {
  -webkit-mask: url('../assets/images/check-svgrepo-com.svg') no-repeat center / contain;
  mask: url('../assets/images/check-svgrepo-com.svg') no-repeat center / contain;
  background-color: currentColor;
  color: rgb(95, 120, 55);
  content: '';
  width: 3rem;
  height: 3rem;
  position: absolute;
  transform: translate(-0.6875rem, -0.75rem);
}

.row-group {
  display: flex;
  align-items: baseline;
}

.stack-group {
  max-width: 85%;
}

.row-group.one {
  max-width: 100%;
}

.description {
  margin-right: 1rem;
  margin-bottom: 0.375rem;
  flex: 0 0 auto;
}

.notes {
  color: rgb(80, 50, 25, 0.75);
  color: rgb(0, 0, 0, 0.5);
  font-size: 0.75rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Bottom row */
.priority,
.datetimedue {
  color: rgb(185, 115, 55);
  /* color: rgb(216, 68, 9); */
  border-radius: 0.5rem;
  padding: 0.25rem;
  transform: translate(-0.25rem);
  display: flex;
  transition: background-color 0.25s ease, color 0.25s ease;
}

.priority > span,
.datetimedue > span {
  background-color: currentColor;
  color: inherit;
  /* color: rgb(216, 68, 9); */
  width: 0.875rem;
  height: 0.875rem;
  margin-right: 0.125rem;
}

.priority:hover,
.datetimedue:hover,
.linked-list:hover {
  background-color: rgb(0, 0, 0, 0.10);
  cursor: pointer;
}

.priority {
  width: 4.020625rem;  /* the width of their largest state */
  margin-right: 0.0625rem;
}

.priority > span {
  -webkit-mask: url('../assets/images/chevron.svg') no-repeat center / contain;
  mask: url('../assets/images/chevron.svg') no-repeat center / contain;
  transform: translate(0, 0.0625rem);
}

.datetimedue > span {
  -webkit-mask: url('../assets/images/clock-svgrepo-com.svg') no-repeat center / contain;
  mask: url('../assets/images/clock-svgrepo-com.svg') no-repeat center / contain;
}

.datetimedue {
  width: 4.34375rem;
  margin-right: 1rem;
}

.linked-list {
  border-radius: 0.375rem;
  padding: 0.25rem;
  margin: -0.25rem;
  width: 1.5rem;
  height: 1.5rem;
  transition: background-color 0.25s ease;
}

.linked-list > img {
  width: 100%;
  height: 100%;
}
/* ----- */


/* Responsive Design */

@media screen and (max-width: 1280px) {
  .content {
    max-width: 47rem;
  }

  .todo {
    max-width: 31.25rem;
  }
}

@media screen and (max-width: 1054px) {
  .content {
    margin-left: 2.53125rem;
    margin-right: calc(2.53125rem - 0.75rem);
  }

  .todo {
    max-width: 100%;
  }

  .task-scroll {
    top: -4.75rem;
    transform: scale(0.75);
    transform-origin: top right;
  }
}

@media screen and (max-width: 768px) {
  .sidebar {
    opacity: 0;
  }

  .sidebar-placeholder {
    width: 0;
  }

  .content {
    max-width: 100%;
  }
}
