@font-face {
  font-family: 'ubuntu-regular';
  src:  url('../assets/fonts/Ubuntu-Regular.woff2') format('woff2'),
        url('../assets/fonts/Ubuntu-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'ubuntu-medium';
  src:  url('../assets/fonts/Ubuntu-Medium.woff2') format('woff2'),
        url('../assets/fonts/Ubuntu-Medium.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: block;
}


/* Base Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

body {
  background-color: rgb(240, 194, 135, 1);
  font-family: 'ubuntu-regular';

  height: 100vh;
  display: flex;
}


/* Sidebar */

.sidebar {
  background-color: rgb(0, 0, 0, 0.15);
  padding: 1rem;
}

h1 {
  font-family: 'ubuntu-medium';
  font-size: 1.75rem;
  letter-spacing: -0.5px;
  padding-bottom: 0.75rem;
  border-bottom: 1px solid rgb(168, 137, 95);
  margin-left: -0.5rem;
  margin-bottom: 1rem;
}

.sidebar-label {
  color: rgb(72, 58, 41);
  font-size: 1rem;
  font-weight: normal;
  margin-bottom: 0.5rem;
}

.sidebar-group {
  margin-bottom: 1.25rem;
}

.sidebar-item {
  font-size: 1.25rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin-left: -0.5rem;
}

.sidebar-item:hover {
  background-color: rgb(72, 58, 41, 0.2);
  cursor: pointer;
}

.sidebar-item:active {
  background-color: rgb(72, 58, 41, 0.3);
  cursor: grabbing;
}
