@font-face {
  font-family: 'ubuntu-regular';
  src:  url('../assets/fonts/Ubuntu-Regular.woff2') format('woff2'),
        url('../assets/fonts/Ubuntu-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'ubuntu-medium';
  src:  url('../assets/fonts/Ubuntu-Medium.woff2') format('woff2'),
        url('../assets/fonts/Ubuntu-Medium.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: block;
}


/* Base Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

::selection {
  color: inherit;
  background-color: rgb(118, 161, 98);
}

body {
  background-color: rgb(240, 194, 135, 1);
  font-family: 'ubuntu-regular';

  height: 100vh;
  display: flex;
}


/* Sidebar */

.sidebar {
  background-color: rgb(0, 0, 0, 0.15);
  padding: 1rem;
  width: 13.875rem;
}

h1 {
  font-family: 'ubuntu-medium';
  font-size: 1.75rem;
  letter-spacing: -0.5px;
  padding-bottom: 0.75rem;
  border-bottom: 1px solid rgb(168, 137, 95);
  margin-left: -0.5rem;
  margin-bottom: 1rem;
}

.sidebar-label {
  color: rgb(72, 58, 41);
  font-size: 1rem;
  font-weight: normal;
  margin-bottom: 0.5rem;
}

.sidebar-group {
  margin-bottom: 1.25rem;
}

.sidebar-item {
  font-size: 1.25rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin-left: -0.5rem;
  position: relative;
  transition: background-color 0.5s ease;
}

.sidebar-item:hover {
  background-color: rgb(72, 58, 41, 0.15);
  cursor: pointer;
  transition: none;
}

.sidebar-item.selected {
  background-color: rgb(72, 58, 41, 0.3);
}

.sidebar-item + .sidebar-item {
  margin-top: 1px;
}


.sidebar-item.today > img {
  width: 1.5rem;
  height: auto;
  margin-right: 0.25rem;
  margin-bottom: -0.375rem;
}

.sidebar-label.lists {
  position: relative;
}

.sidebar-label.lists:hover {
  cursor: default;
}

.sidebar-label.lists:hover > .new-list {
  opacity: 1;
  transition: none;
}

.new-list {
  position: absolute;
  top: -0.375rem;
  right: 0;
  padding: 0.25rem;
  margin-right: -0.25rem;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.new-list > svg {
  border: 1px solid rgb(72, 58, 41);
  border-radius: 50%;
  padding: 2px;
  width: 21px;
  height: 21px;
  transition: background-color 0.25s ease, color 0.25s ease;
}

.new-list:hover {
  cursor: pointer;
}

.new-list:hover > svg {
  background-color: rgb(72, 58, 41);
  color: rgb(204 165 115);
}


/* Content */

.content {
  flex: 1;
}
